<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login-styles.css">
</head>

<body>
    <main>
        <form action="/tutor/login" method="post">
            <p> Chào mừng bạn! </p>
            <p class="text">Đăng nhập vào tài khoản của bạn</p>
            <% if (message !=='' ) { %>
                <div style="font-size: 14px; text-align: center; padding-top: 20px;margin-bottom: 20px; color: #ff3737; font-weight: bold;">
                    <%= message %>
                </div>
                <% } %>
                <input name="login" id="username" placeholder="Email hoặc username">
            <input type="password" name="password" id="password" placeholder="Mật khẩu">
            <a href="#" class="fg-pword"> Quên mật khẩu ?</a>
            <input type="submit" value="Đăng nhập" class="button"onclick="updateUsername()">
            <p class="text-su">Bạn chưa có tài khoản ? <a href="/tutor/register">Đăng ký</a></p>
        </form>
    </main>
</body>

</html>
<script>
   
function updateUsername() {
  var username = document.getElementById("username").value;
  localStorage.setItem("username", username);
}
    </script>