<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trang chủ</title>
  </head>
  <body>
    <i style="font-size: 33px;">Nịt</i>

    <div>Xin chào, <%= username %>!</div>
        <a href="/">Đăng xuất</a>
    </body>
  </html>
  