<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Đăng nhập</title>
  </head>
  <body>
    <% if (message !== '') { %>
      <div><%= message %></div>
    <% } %>
    <form method="post" action="/login">
      <div>
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username">
      </div>
      <div>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password">
      </div>
      <button type="submit">Đăng nhập</button>
    </form>
  </body>
</html>
