<%- include('../layout/header.ejs') %>
    <%- include('../layout/menu.ejs') %>
            <div class="section">
                <div class="search-container">
                    <form action="#" method="post">
                        <input id="query" name="query" type="search" placeholder="Search..."
                            style="padding-right: 15%; margin-right: 10px; border: solid 1px #cccc; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; border-radius: 5px;">
                        <input class="btn-search" type="submit" value="Tìm kiếm">
                    </form>
                </div>
            </div>
        </body>

        </html>