<%- include('../layout/header.ejs') %>
    <%- include('../layout/menu.ejs') %>
<<<<<<< Updated upstream
            <div class="section">
                <div class="search-container">
                    <form action="#" method="post">
                        <input id="query" name="query" type="search" placeholder="Search..."
                            style="padding-right: 15%; margin-right: 10px; border: solid 1px #cccc; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; border-radius: 5px;">
                        <input class="btn-search" type="submit" value="Tìm kiếm">
                    </form>
                </div>
            </div>
=======
        <div class="section">
            <form action="#" method="post">
                <input id="query" name="query" type="search" placeholder="Search..."
                    style="padding: 10px; margin-right: 10px; border: solid 1px #cccc;border-radius: 5px; padding-right: 15%;">
                <input class="btn-search" type="submit" value="Tìm kiếm">
                <select class="status" name="status" id="status">
                    <optgroup label="Trạng thái">
                      <option value="active">Đang mở</option>
                      <option value="inactive">Đã tắt</option>
                    </optgroup>
                  </select>
            </form>
            <div class="section-course">
                <div class="subject"><p>Tiếng Anh</p></div>
                <div class="subject"><p>Toán</p></div>
                <div class="subject"><p>Văn</p></div>
                <div class="subject"><p>Hóa Học</p></div>
            </div>
        </div>
        </div>
>>>>>>> Stashed changes
        </body>

        </html>