.btn-tb {
  background: #00B2FF;
  border: none;
  padding: 10px 9px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin-top: 20px;
  position: relative; /* Thêm thuộc tính position */
}

.btn-tb:hover {
  background: rgba(170, 170, 170, 0.062);
  transition: 0.5s;
}

.btn-tb svg {
  color: #fff;
  display: block;
  margin: auto;
}

.activee:after {
  content: '';
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  position: absolute; /* Thay đổi thành absolute */
  top: -5px; /* Điều chỉnh giá trị top để định vị điểm đỏ */
  right: -5px; /* Điều chỉnh giá trị right để định vị điểm đỏ */
}

.btn-activee {
  background: #00B2FF;
  border: none;
  padding: 10px 9px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin-top: 20px;
}