<div class='col-xs-12'>
    <div class="page-title">
      <nav class="navbar navbar-light justify-content-between" style="margin-bottom: 20px; background-color: #C0C0C0;">
        <h3 class="title ">Doanh Thu</h3>
        <form class="form-inline" action="/admin/payment/search">
          <input class="form-control mr-sm-2" type="search" id="query" name="query" placeholder="Search" aria-label="Search" style="border-radius: 3px;">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div>
</div>