<div class='col-xs-12'>
    <div class="page-title">
        <div style="background-color: #FFC0CB; display: flex; flex-direction: row; justify-content: space-evenly; height: 50px; margin-bottom: 3%;">
            <h1 class="title" style="flex:1; margin-left: 15px;">Khóa học</h1>
            <form action="/admin/course/search" method="post" style="flex: 1; margin-left: 40%; margin-top: 10px;">
                <input type="text" placeholder="Search..." id="query" name="query" style="padding-right: 30%; margin-right: 10px;">
                <input type="submit" value="Search">
            </form>
            
        </div>
    </div>
</div>