* {
    margin: 0;
}

.header-top {
    background-color: rgb(0, 84, 182);
    text-align: right;
    height: 40px;
}

.header-top a {
    text-decoration-line: none;
    color: white;
    font-size: 16px;
    font-family: 'Inter';
    margin-right: 20px;
    line-height: 40px;
}

.navbar {
    mix-blend-mode: multiply;
    box-shadow: 0px 3px 10px rgba(121, 121, 132, 0.22);
    background-color: #00B2FF;
}

.navbar li a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    color: #000000cc;
}

button {
    width: 148px;
    height: 38px;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    line-height: 50px;
}

button:hover{
    background: #00B2FF;
}

.navbar-nav .nav-item li a:hover {
    color: rgb(219, 30, 49);
}


.carousel-inner img {
    width: 100%;
}

.h4 { 
    color: rgb(0, 84, 182);
    text-align: center;
    padding: 64px 0px 8px 0px;
    display: flex;
    justify-content: center;
}

.hservice-item{
    padding: 30px;
    background: #FFFFFF;
}
.service-desc{
    color: #484E55;
}
.service-desc, .article-item{
    overflow: hidden;
}
.service-item{
    margin-bottom: 20px;
}
.text-center{
    text-align: center;
}
.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news > * {
    margin-left: 15px;
}

.harticle-item{
    margin-top: 30px;
    max-width: 350px;
}
.article-item{
    margin-top: 30px;
}
.article-desc{
    overflow: hidden;
    max-height: 150px;
}
.footer{
    background: #414141;
    color: white !important;
    margin-top: 50px;
}
div.container{
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 20px;
}
div.container div.services{
    display: flex;
    flex-direction: column;
}

div.services .item-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    border-bottom: solid 0.5px #cccc;
}

div.services:last-of-type{
    border-bottom: none;
}

div.services .item-1 .item-content h5{
    color: #00B2FF;
    text-shadow: 1px 1px 1px #cccc;
}

div.services .item-1 .item-content .service-desc{
    max-width: 700px;
}
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Số dòng tối đa muốn hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.breadcrumb{
    font-size: 25px;
    margin-top: 15px;
    padding-left: 30px;
}
.pagination{
    float:right;
}
pre{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    white-space: pre-wrap; /* Để hỗ trợ xuống dòng tự động */
}
.text-content{
    flex:auto;
    overflow:hidden; 
    max-width: 100%;
    justify-content: center;  
}
.card-title {
    display: -webkit-box; /* Old iOS support */
    -webkit-box-orient: vertical;
    height: 80px;
    -webkit-line-clamp: 4; /* Number of lines to display */
    overflow: hidden;
    text-overflow: ellipsis;
    color:#404040;
  }
.cardnews{
    display: flex;
    flex-direction: row; 
  }
.card-body{
   padding-right: 10px;
}
.content{
    margin-top: -2px;
    display: flex;
    padding-right: 15px;
}
.content-details{
    margin-top: -2px;
    display: flex;
    justify-content: center; /* canh giữa theo trục chính */
    align-items: center; /* canh giữa theo trục phụ */
    padding: 0 40px 0 40px;
    text-align: justify;
}
.content-end{
    margin-left:40px; 
}
.btn-primary{
    background-color:rgb(0, 84, 182);
}
a {
    color: #404040;
    text-decoration: none;
  }
a:hover {
    color:#404040;
    text-decoration: none;
  }
.img{
    flex: 1; 
    max-height: 400px; 
    max-width: 800px;
    margin:15px;
    margin-left: 100px; 
   
}
hr {
    width: 100%;
}
.a-details{
    color:rgb(0, 84, 182);
}
.a-details:hover{
    color:rgb(20, 122, 243);
}
.sm-collapse{
    margin-left: 48px;
}
.btn-dowload{
    background-color: #f8f9fa;
    color: rgb(0, 84, 182);
}
.btn-dowload:hover{
    color: #ffffff;
    background-color: rgb(0, 84, 182);
    font-weight: normal;
}
.collapse{
    height: 60px ;
}
.navbar-scroll {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    opacity: 100%;
    /* Các thuộc tính khác cho thanh navbar trong trạng thái nổi */
  }
  .date{
    color: #979Ea6;
  }
  .card{
    border: 1px solid #EFEFEF;
  }
  .breadcrumb{
    background-color: #fff;
  }