<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Đât là Trang chủ</title>
  </head>
  <body>
    <i style="font-size: 33px;">No UI no Design</i>
    <div>Xin chào, <%= username %>!</div>
        <a href="/logout">Đăng xuất</a>
    </body>
  </html>
  