<%- include('../layout/headerv2.ejs') %>
  
  <section id="main-content" class=" ">
    <section class="wrapper main-wrapper row">
        <div class="container">
            <p>Đây là trang dịch vụ</p>
        </div>


    </section>
</section>

<%- include('../layout/footer.ejs') %>
</body>

</html>
