<%- include('../layout/headerv2.ejs') %>

    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row">
            <div class="container">
                <div class="services">
                    <div class="item-1">
                        <img src="/images/page_dv1_img-1.png" alt="" height="300px" width="270px">
                        <div class="item-content">
                            <h5 class="service-item">Gia sư trực tuyến</h5>
                            <div class="service-desc">
                                Trải nghiệm dịch vụ tư vấn sức khỏe trực tuyến qua video với đội ngũ bác sĩ tận tâm và
                                dày dặn kinh nghiệm tại
                                Việt Nam mọi lúc mọi nơi, thuận tiện & đơn giản.
                                Trải nghiệm dịch vụ tư vấn sức khỏe trực tuyến qua video với đội ngũ bác sĩ tận tâm và
                                dày dặn kinh nghiệm tại
                                Việt Nam mọi lúc mọi nơi, thuận tiện & đơn giản.
                            </div>
                        </div>
                    </div>
                    <div class="item-1">
                        <div class="item-content">
                            <h5 class="service-item">Gia sư trực tuyến</h5>
                            <div class="service-desc">
                                Trải nghiệm dịch vụ tư vấn sức khỏe trực tuyến qua video với đội ngũ bác sĩ tận tâm và
                                dày dặn kinh nghiệm tại
                                Việt Nam mọi lúc mọi nơi, thuận tiện & đơn giản.
                                Trải nghiệm dịch vụ tư vấn sức khỏe trực tuyến qua video với đội ngũ bác sĩ tận tâm và
                                dày dặn kinh nghiệm tại
                                Việt Nam mọi lúc mọi nơi, thuận tiện & đơn giản.
                            </div>
                        </div>
                        <img src="/images/c8ec45581e7e4283dd0fa44e3dfc3b73.jpg" alt="" height="300px" width="270px">
                    </div>
                    <div class="item-1">
                        <img src="/images/c8ec45581e7e4283dd0fa44e3dfc3b73.jpg" alt="" height="300px" width="270px">
                        <div class="item-content">
                            <h5 class="service-item">Gia sư trực tuyến</h5>
                            <div class="service-desc">
                                Trải nghiệm dịch vụ tư vấn sức khỏe trực tuyến qua video với đội ngũ bác sĩ tận tâm và
                                dày dặn kinh nghiệm tại
                                Việt Nam mọi lúc mọi nơi, thuận tiện & đơn giản.
                                Trải nghiệm dịch vụ tư vấn sức khỏe trực tuyến qua video với đội ngũ bác sĩ tận tâm và
                                dày dặn kinh nghiệm tại
                                Việt Nam mọi lúc mọi nơi, thuận tiện & đơn giản.
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </section>

    <%- include('../layout/footer.ejs') %>
        </body>

        </html>