<!-- views/pay.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Thanh toán thành công</title>
  <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
  <h1>Thanh toán thành công! aaaass </h1>
</body>

</html>
