<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Login Admin">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/login-styles.css">
    <title>Admin - Login </title>
    <base href="http://localhost:3000/" />

</head>

<body>
    <% if (message !=='' ) { %>
        <div style="font-size: 24px; text-align: center; padding-top: 30px; color: #1560BD; font-weight: bold;">
            <%= message %>
        </div>
        <% } %>
            <main>
                <form action="/login" method="post">
                    <p style="margin-bottom: 25px;"> Admin</p>
                    <input type="text" name="username" id="username" placeholder="Username">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <input style="margin-top: 45px;" type="submit" value="Login" class="button">
                </form>
            </main>

</body>

</html>