<div class="page-sidebar pagescroll">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        <!-- USER INFO - START -->
        <div class="profile-info row">
            <div class="profile-image col-xs-4">
                <a href="#">
                <img alt=""  src="/images/logopage2.jpg" class="img-responsive img-circle avatar rounded-circle border">
                </a>
            </div>
            <div class="profile-details col-xs-8" style="margin-left: 15px;">
                <h3>
                    <a href="/admin/home" class="name">Tutor Anytime</a>
                    <!-- Available statuses: online, idle, busy, away and offline -->
                    <span class="profile-status online"></span>
                </h3>
                <p class="profile-title">Xin chào,<b><%= username %></b>!</p>
            </div>
        </div>
        <!-- USER INFO - END -->
        <ul class='wraplist'>
            <li class='menusection'>Danh sách</li>
            <li class="open"> 
                <a href="/admin/home">
                <i class="fa fa-dashboard"></i>
                <span class="title">Bảng điều khiển</span>
                </a>
            </li>
            
            <li class="">
                <a href="javascript:;">
                <i class="fa fa-users"></i>
                <span class="title">Người dùng</span>
                <span class="arrow "></span>
                </a>
                <ul class="sub-menu" >
                    <li>
                        <a class="" href="/admin/tutor/index.html"  >Danh Sách</a>
                    </li>
                    <li>
                        <a class="" href="/admin/tutor/reviews.html"  >Đánh giá cho Gia Sư</a>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="javascript:;">
                <i class="fa fa-suitcase"></i>
                <span class="title">Khóa học</span>
                <span class="arrow "></span>
                </a>
                <ul class="sub-menu" >
                    <li>
                        <a class="" href="/admin/course"  >Các Khóa Học Hiện Tại</a>
                    </li>
                    <li>
                        <a class="" href="/admin/course/apply-course.html"  >DS Khóa Học Mới</a>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="javascript:;">
                <i class="fa fa-newspaper-o"></i>
                <span class="title">Tin tức</span>
                <span class="arrow "></span>
                </a>
                <ul class="sub-menu" >
                    <li>
                        <a class="" href="/admin/news" >Danh Sách</a>
                    </li>
                    <li>
                        <a class="" href="/admin/news/add"   >Thêm</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                <i class="fa fa-money"></i>
                <span class="title">Doanh thu</span>
                <span class="arrow "></span>
                </a>
                <ul class="sub-menu" >
                    <li>
                        <a class="" href="/admin/payment">Thống kê doanh thu</a>
                    </li>
                    <li>
                        <a class="" href="/admin/detail-payment">Lịch sử thanh toán</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <!-- MAIN MENU - END -->
</div>