<%- include('../layout/header.ejs') %>
<!-- END TOPBAR -->
<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
    <!-- SIDEBAR - START -->
      <%- include('../layout/menu.ejs') %>
    <!--  SIDEBAR - END -->
    <!-- START CONTENT -->
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row">
            <div class="container">
              <nav class="navbar navbar-light justify-content-between" style="margin-bottom: 20px; background-color: #C0C0C0;">
                <h3 class="title ">Thêm Tin Tức Mới </h3>
              </nav>
                <form method="post" action="/admin/news/add" enctype="multipart/form-data">
                  <div class="form-group" >
                    <label for="name">Tiêu đề tin tức:</label>
                    <input type="text" class="form-control" name="name" id="name" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label for="content">Nội dung bài viết:</label>
                    <textarea class="form-control" rows="5" name="content" id="content"></textarea>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="image" id="image" onchange="updateFileName(this)">
                      <label class="custom-file-label" for="image" style="padding-top: 7px;">Chọn ảnh</label>
                    </div>
                  </div>
                <button type="submit" class="btn btn-outline-primary" style="margin-top: 10px;">Tạo tin tức</button>
                
                </form>
                <br>
                <% if (typeof message !== 'undefined' && message != '') { %>
                  <div class="alert alert-success" role="alert">
                    <%= message %>
                  </div>
                <% } %>
              </div>
        </section>
    </section>
    <!-- END CONTENT -->
    <div class="chatapi-windows ">
    </div>
<%- include('../layout/footer.ejs') %>