<div class="container-sidebar">
    <div class="menu-sidebar">
        <h5>Khóa học</h5>
        <div class="dropdown">
            <a class="nav-link dropdowna active" href="#">Dành cho Tiểu Học</a>
            <div class="dropdown-content">
                <a href="#">Tiếng Anh</a>
                <a href="#">Toán</a>
                <a href="#">Tiếng Việt</a>
            </div>
        </div> <br/>
        <div class="dropdown">
            <a class="nav-link dropdowna active" href="#">Dành cho THCS</a>
            <div class="dropdown-content">
                <a href="#">Tiếng Anh</a>
                <a href="#">Toán</a>
                <a href="#">Vật Lý</a>
                <a href="#">Hóa Học</a>
                <a href="#">Sinh Học</a>
                <a href="#">Ngữ Văn</a>
            </div>
        </div><br/>
        <div class="dropdown">
            <a class="nav-link dropdowna active" href="#">Dành cho THPT</a>
            <div class="dropdown-content">
                <a href="#">Tiếng Anh</a>
                <a href="#">Toán</a>
                <a href="#">Vật Lý</a>
                <a href="#">Hóa Học</a>
                <a href="#">Sinh Học</a>
                <a href="#">Ngữ Văn</a>
            </div>
        </div><br/>
        <div class="dropdown">
            <a class="nav-link dropdowna active" href="#">Luyện thi THPT QG</a>
            <div class="dropdown-content">
                <a href="#">Khối A</a>
                <a href="#">Khối B</a>
                <a href="#">Khối C</a>
                <a href="#">Khối D</a>
            </div>
        </div><br/>
        <div class="dropdown">
            <a class="nav-link dropdowna active" href="#">Luyện thi Chứng Chỉ Tiếng Anh</a>
            <div class="dropdown-content">
                <a href="#">Chứng chỉ IELTS</a>
                <a href="#">Chứng chỉ TOEIC</a>
                <a href="#">Chứng chỉ TOEFL</a>
                <a href="#">Chứng chỉ SAT</a>
            </div>
        </div><br/>
        <div class="dropdown">
            <a class="nav-link dropdowna active" href="#">Tiếng Anh giao tiếp</a>
            <div class="dropdown-content">
                <a href="#">Mất gốc</a>
                <a href="#">Căn bản</a>
                <a href="#">Nâng cao</a>
            </div>
        </div>
    </div>